.storm-model {
	
	.tabs-menu{
		display: flex;
		.tabs-menu-item{
			list-style:  none;
			padding-right: 10px;
			a{
				text-decoration: none;
			}
		}
	}
	
}

.storm-auto {
	overflow: visible;
	overflow-x: hidden;
	padding: 0 !important;
	max-width: 170px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	
	.token{
		display: inline;
		cursor: pointer;
		flex: 0 1 auto;
		margin-top: 2px;
		margin-bottom: 2px;
		vertical-align: middle;
		
		box-sizing: border-box;
		padding: 2px 5px;
	}

	> * {
		//display: inline !important;
		margin-left: 2px;
	}

	input {
		flex: 1 1 1px;
		background: none;
		border: none !important;
		min-width: 1px !important;
	}
	&[data-max-elements="1"] {
		b i {
			float: right;
			line-height: 1.5;
		}
		b {
			flex: 1 1 auto;
			margin-right: 2px;
		}
	}
	
	ul {
		position: absolute;
		margin-top: 24px;
		z-index: 99;
		
		overflow: hidden;
		border-radius: 5px;
		padding: 3px;
		max-height: 300px;
		overflow-y: scroll;

		li {
			padding: 5px;
			list-style: none;
			cursor: pointer;
			font-weight: bold;
			max-width: 200px;
			span {
				color: rgb(0, 192, 255);
				font-size: 12px;
			}
			p {
				font-size: 12px;
				opacity: 0.5;
				font-weight: normal;
				padding: 0 !important;
				margin: 0 !important;
			}
		}
	}
}