@import "../src/sass/structure.scss";

*{
	margin: 0;
	padding: 0;
}

body{
	background: rgb(230,230,230);
}

label{
	font-family: 'Helvetica Neue';
	font-size: 12px;
}
.storm-form{
	padding: 30px;
}
.storm-button{
}
.storm-field{
	padding: 5px;
	border: solid 1px black;
	border-radius: 2px;
	outline: none;
	font-size: 13px;
	background: white;
	&:focus{
		border: solid 1px cyan;
	}
}

.storm-model {
	table{
		border-spacing: 0;
		td{
			padding: 2px;
		}
	}
	.tabs-menu{
		.tabs-menu-item{
			a{
				font-family: 'Helvetica Neue';
				font-size: 16px;
				color: black;
			}
		}
		.is-active{
			a{
				color: rgb(0,192,255) ;
			}
		}
	}
	
}

.storm-checkbox {
	$height: 15px;
	$width: 40px;
	$padding: 20px;
	$borderRadius: 2px;

	$yesColor: rgb(0,192,255);
	$noColor: #ff6600;
	$thumbColor: linear-gradient(white,rgb(200,200,200));
	
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.2)), linear-gradient(to right, $noColor 0%, $noColor 50%, $yesColor 51%, $yesColor 100%);
	background-size: 100% 100%, 200% 100% !important; 
	background-position: 0 0, $padding 0 !important;
	border-radius: $borderRadius;
	cursor: pointer;
	height: $height;
	padding-right: $padding;
	width: $width + 2px !important;
	-webkit-appearance: none;
	-webkit-transition: .25s;
	border: solid 1px black;
	min-width: 0;
	padding:0px;
	margin-left: 20px;
	box-sizing: border-box !important;
	margin-top: 5px;
	
	&:after{
		background:  $thumbColor;
		content: '';
		display: block;
		height: $height - 2px;
		left: 0;
		position: relative;
		top: 0;
		width: $width - $padding !important;
		//border: solid 1px rgb(100,100,100);
		box-sizing: border-box !important;
	}
	
	&:checked {
		background-position: 0 0, 35px 0 !important;
		padding-left: $padding !important;
		padding-right: 0 !important;
	}
}

.storm-auto {
	@extend .storm-field;
	.token{
		background: rgb(0, 192, 255) linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
		border-radius: 3px;
		color: white !important;
		font-size: 13px;
		font-weight: normal;
		font-family: "Arial";
		i {
			color: black;
		}
	}
	input{
		padding: 5px;
		outline: none;
		font-size: 13px;
	}
	ul{
		background: rgba(0, 0, 0, 0.9);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		li{
			font-family: Arial;
			color: white;
		}
		li.selected, li:hover {
			span {
				color: black;
			}
			background: rgb(0, 192, 255) linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
		}
	}
}